{% extends 'layout.html.twig'%}


{% block title %}
	{{parent()}}Hello Home!
{% endblock %}

{% block content %}
	<div class="row mt-5">

		<div class="col-md-2">
			<ul class="list-group">
				{% for categorie in categories %}
					<a class="text-decoration-none" href="{{ path('produits_categorie', {id: categorie.id}) }}">
						<li class="list-group-item list-group-item-action list-group-item-warning text-center ">
						{{ categorie.nom }}</li>
						</a>
					{% endfor %}
			</ul>
		</div>


		<div class="justify-content-center col-md-10 text-center">
			<h1 style="color: #c8ad7f;">Liste des produits</h1><br>

			{% for produit in produits %}
				<div class="row justify-content-center">
					<div class="col card mb-3 " style="max-width: 800px;">
						<div class="row g-0">
							<div class="col-md-6 justify-content-center">
								<img src="{{ asset('photosProduits/' ~ produit.photo) }}" class="img-fluid rounded-start" alt="{{ produit.titre }}">
							</div>
							<div class="col-md-6">
								<div class="card-body">
									<h4 class="card-title">
										<a href="{{ path("produit_show", {id: produit.id})}}">{{produit.titre}}</a>
									</h4>
									<h6 class="text-muted">ajouté le :
										{{ produit.dateEnregistrement | date('d/m/Y') }}</h6>
									<h5>couleur :
										{{ produit.couleur }}</h5>
									<h5>taille :
										{{ produit.taille }}</h5>
									<h5>il en reste
										{{ produit.stock }}</h5>
									<h5>prix :
										<strong>{{ produit.prix }}€</strong>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}


		</div>
	</div>


{% endblock %}

